/* Box Model */
*, *::before, *::after {

    box-sizing: border-box;

}

/* Padding for Bottom of Search Input Row */
#search-input-row {

    padding-bottom: 20px;

}

/* Margins for Recipe Columns */
#recipe-columns {

    margin: 20px 10px;

}

/* Displaying Jumbotron Content in Center */
.jumbotron-content {

    text-align: center;

}

.styled-font {

    font-family: 'Permanent Marker', cursive;

    text-align: center;

}

.bottom-padding {

    padding-bottom: 30px;

}

.styled-column {

    justify-content: center;

}

.styled-button {

    width: 200px;

}

/* Image Sizing */
/* .image {

    height: 150px;

    width: 150px;

} */