/* Box Model */
*, *::before, *::after {

    box-sizing: border-box;

}

.styled-header {

    font-family: 'Permanent Marker', cursive;

}

/* Padding for Bottom of Search Input Row */
#search-input-row {

    padding-bottom: 20px;

}

/* Margins for Recipe Columns */
#recipe-columns {

    margin: 20px 10px;

} 

/* Displaying Content in Center */

.center-content {

    text-align: center;

}

/* First Font */
.styled-font {

    font-family: 'Permanent Marker', cursive;

    text-align: center;

}

/* Second Font */
.styled-font-2 {

    text-align: center;   

    padding: 10px;

}

.bottom-padding {

    padding-bottom: 30px;

}

.navbar-padding {

    margin-bottom: 10px;

}

.top-padding {

    padding-top: 30px;

}

.styled-column {

    justify-content: center;

} 

.styled-button {

    width: 150px;

}

/* Image Sizing */

 img {

    max-height: 300px;

    /* width: 100%; */

} 
/* Drink CSS Below */
#card-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* Drink CSS Below */
#food-recipe-row {
    display: flex;
    flex-direction: column;

}
.card {
    margin-top: 25px;
    padding: 1% 3%;
    min-width: 40% !important;
}

p {
    padding: 5px;
    line-height: 20px;
    margin: 0 !important;
    
}

h3 {
    padding: 5px;
}

.styled-image { 

    height: fit-content;
    width: fit-content;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;

}

/* #card-area{ */
    /* display: block; */
/* } */

.styled-card { 

    justify-content: center;

    text-align: center;

    font-family: 'Magra', sans-serif;

    padding-bottom: 20px;

} 
.hide {

    visibility: hidden;

}

.input-group{
    padding: 5px;
}

.container{
    padding: 20px !important;
}
.modal{
    margin-right: auto !important;
    margin-left: auto !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    width: 100% !important;
}

<<<<<<< HEAD
<<<<<<< HEAD
}

li {

    list-style-type: ;

}
=======
>>>>>>> 278debafcbbf7c35a732f131700585156418e3a2
=======
/* This code removed the bullets from the grocery list */
ul{
    list-style-type: none !important;
    margin: 0;
    padding: 0;
}
>>>>>>> b2cb0fea7e4bd78fe2b167bb8a6131c6691d056c
