/* Box Model */
*, *::before, *::after {

    box-sizing: border-box;

}

/* Body Margins */
body {

    margin: 10px 10px;

}

/* Container Margins */
.container {

    margin: 10px 0px;

}

/* Image Sizing */
/* .image {

    height: 150px;

    width: 150px;

} */